.footer-social-networks {
  text-align: center;

  &-list {
    display: flex;
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 2 * 30px);
    margin: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 30px) / 2);
    margin: 30px;
    padding-top: 21px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    padding-top: 28px;
    text-align: left;
  }
}

.footer-slogan-title {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer-social-networks-list {
  display: flex;
    justify-content: center;

      @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.footer-social-network-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: $site-transition;

  &:hover,
  &:focus {
    background-color: $hover-color;
    outline-color: $hover-color;
  }
}

.footer-social-network-icon {
  fill: white;
}
